{% extends 'core/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="registration-form">

      <form method="post" action=" ">
          {% csrf_token %}

        <h2 style="text-align: center; color: gray;">MEMBRESIA ANEIC</h2>
        <h5 style="text-align: center; color: gray;">Ingresa a tu cuenta y accede a todos tus beneficios.</h5><br><br>

        <div class="form-group">
            {{ form | crispy }}
        </div>
        <div class="form-group d-flex justify-content-between align-items-center">
        <a href="{% url 'register' %}" class="card-link">Registrarse</a>
        <button type="submit" class="btn create-account">Iniciar Sesion</button>
    </div>
      </form>

    </div>

{% endblock %}