{% include "header_blog.html" %}
{% load static %}
<body>


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/inicio"><i class="bi bi-house"></i> Inicio</a></li>
          <li><a href="/blog"> Noticias</a></li>
            <li> Detalles</li>
        </ol>


      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{% static "img/" %}{{ post.foto }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                {{ post.title }}
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{ post.author }}</li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <time datetime="2020-01-01">{{ post.published_date }}</time></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{ post.text | linebreaksbr }}
                </p>

                <blockquote>
                  <p>
                    ...
                  </p>
                </blockquote>
              </div>

              <div class="entry-footer">

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li>{{ post.categoria_1 }}</li>
                  <li>{{ post.categoria_2}}</li>
                  <li>{{ post.categoria_3 }}</li>
                </ul>
              </div>

            </article><!-- End blog entry -->

            <!--<div class="blog-author d-flex align-items-center">
              <img src="assets/img/blog/blog-author.jpg" class="rounded-circle float-left" alt="">
              <div>
                <h4>Jane Smith</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>
              </div>
            </div>--><!-- End blog author bio -->


          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">



              <div class="sidebar-item ">
                  <div class="widget">
                    <a class="weatherwidget-io" href="https://forecast7.com/es/n25d36n56d46/coronel-oviedo/" data-label_1="CORONEL OVIEDO" data-label_2="CLIMA" data-font="Ubuntu" data-icons="Climacons Animated" data-days="3" data-theme="clear" >CORONEL OVIEDO CLIMA</a>
					</div>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Noticias Recientes</h3>
              <div class="sidebar-item recent-posts">
                  {% for post in posts %}
                <div class="post-item clearfix">
                  <img src="{% static "img/"%}{{ post.foto }}" alt="">
                  <h4><a href="/blog/{{ post.id }}">{{ post.title }}</a></h4>
                  <time datetime="2020-01-01">{{ post.published_date }}</time>
                </div>
                  {% endfor %}



              </div><!-- End sidebar recent posts-->

              <!--<h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>

                </ul>
              </div>--><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

{% include "footer.html" %}