{% include "header_blog.html" %}
{% load static %}
<body>

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="/inicio"><i class="bi bi-house"></i> Inicio</a></li>
          <li>Noticias</li>
        </ol>


      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry">
                {% for post in posts_pagin %}
              <div class="entry-img">
                <img src="{% static "img/" %}{{ post.foto }}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="/blog/{{ post.id }}">{{ post.title }}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> {{ post.author }} </li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> {{ post.published_date }} </li>

                </ul>
              </div>

              <div class="entry-content">
                <p>
                   {{ post.text|truncatewords:"100" }}
                </p>
                <div class="read-more">
                  <a href="/blog/{{ post.id }}">Leer Mas</a>
                </div>
              </div><br><br><br>
                {% endfor %}

            </article><!-- End blog entry -->



            <div class="blog-pagination">
              <ul class="justify-content-center">
                  {% if posts_pagin.has_previous %}
                            <li><a href="?page=1" > Inicio </a></li>
                            <li><a href="?page={{ posts_pagin.previous_page_number }}"><i class="bi bi-chevron-left" style="display: inline"></i></a></li>
                        {% endif %}

                  <span style="margin-top: 8px;">Pág. {{ posts_pagin.number }} de {{ posts_pagin.paginator.num_pages }}</span>

                        {% if posts_pagin.has_next %}
                            <li><a href="?page={{ posts_pagin.next_page_number }}"><i class="bi bi-chevron-right" style="display: inline"></i></a></li>
                            <li><a href="?page={{ posts_pagin.paginator.num_pages }}"> Fin </a></li>
                        {% endif %}
              </ul>
            </div><br><br>

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">



              <div class="sidebar-item ">
                  <div class="widget">
                    <a class="weatherwidget-io" href="https://forecast7.com/es/n25d26n57d58/asuncion/" data-label_1="ASUNCIÓN" data-label_2="CLIMA" data-font="Roboto" data-icons="Climacons Animated" data-days="3" data-theme="pure" >ASUNCIÓN CLIMA</a>


					</div>
              </div><!-- End sidebar categories-->

              <h3 class="sidebar-title">Noticias Recientes</h3>
              <div class="sidebar-item recent-posts">
                  {% for post in posts %}
                <div class="post-item clearfix">
                  <img src="{% static "img/"%}{{ post.foto }}" alt="">
                  <h4><a href="/blog/{{ post.id }}">{{ post.title }}</a></h4>
                  <time datetime="2020-01-01">{{ post.published_date }}</time>
                </div>
                  {% endfor %}



              </div><!-- End sidebar recent posts-->

              <!--<h3 class="sidebar-title">Tags</h3>
              <div class="sidebar-item tags">
                <ul>
                  <li><a href="#">App</a></li>

                </ul>
              </div>--><!-- End sidebar tags-->

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Section -->

  </main><!-- End #main -->

{% include "footer.html" %}