{% include "header.html" %}
{% load static %}

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">

        <div class="col-xl-6">
            {% for portada in portada %}
                <h1>{{ portada.texto1 }}</h1>
                <h2>{{ portada.texto2 }}</h2>
            {% endfor %}

          <a href="#about" class="btn-get-started scrollto">SOBRE ANEIC</a>
        </div>

      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
            {% for sobre_aneic in sobre_aneic %}
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">

                <h3>{{ sobre_aneic.titulo }}</h3>
              <p>{{ sobre_aneic.texto | linebreaksbr }}
              </p>

              <a href="#" class="about-btn"><span>QUIERO SER SOCIO/A</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>MISI&Oacute;N</h4>
                  <p style="color: whitesmoke">{{ sobre_aneic.mision | linebreaksbr }}</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-bullseye"></i>
                  <h4>VISI&Oacute;N</h4>
                  <p style="color: whitesmoke">{{ sobre_aneic.vision | linebreaksbr }}</p>
                </div>
                  <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-bulb"></i>
                  <h4>OBJETIVOS</h4>
                  <p style="color: whitesmoke">{{ sobre_aneic.objetivos | linebreaksbr }}
                  </p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
            {% endfor %}
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        {% for dato in dato %}
      <div class="container" data-aos="fade-up">

        <div class="row">


            <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ dato.miembros }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Miembros</p>
            </div>
          </div>

            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ dato.proyectos }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Proyectos Culminados</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-clock-history"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ dato.conferencia }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Horas de Conferencia</p>
            </div>
          </div>



          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="bi bi-bank"></i>
              <span data-purecounter-start="0" data-purecounter-end="{{ dato.universidades }}" data-purecounter-duration="1" class="purecounter"></span>
              <p>Universidades Miembro</p>
            </div>
          </div>

        </div>


      </div>
        {% endfor %}
    </section><!-- End Counts Section -->



    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Precios</h2>
          <p> Nuestros planes est&aacute;n pensados para darte m&aacute;s posibilidades de crecer
                como universitario de forma accesible y segura</p>
        </div>

        <div class="row">

          <!--<div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li class="na">Pharetra massa</li>
                <li class="na">Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>-->

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0 mx-auto text-center">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
                {% for precio in precio %}
              <h3>Membres&iacute;a ANEIC</h3>
              <h4><sup>Gs.</sup>{{ precio.precio }}<span> / {{ precio.tipo_suscripcion }}</span></h4>
              <ul>
                <li>{{ precio.descripcion}}</li>

              </ul>
              <!--<div class="btn-wrap">
                <a href="#" class="btn-buy">Asociarme</a>
              </div>-->
                {% endfor %}
            </div>
          </div>

          <!--<div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>Developer</h3>
              <h4><sup>$</sup>29<span> / month</span></h4>
              <ul>
                <li>Aida dere</li>
                <li>Nec feugiat nisl</li>
                <li>Nulla at volutpat dola</li>
                <li>Pharetra massa</li>
                <li>Massa ultricies mi</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>-->

        </div>

      </div>
    </section><!-- End Pricing Section -->
      <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <div class="section-title">
          <h2>Covenios</h2>
        </div>
      <div class="container" data-aos="zoom-in">

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
              {% for convenio in convenio %}
                <div class="swiper-slide"><img src="{% static "img/" %}{{ convenio.foto }}" class="img-fluid" alt=""></div>
              {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

  <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Ultimas Noticias</h2>
          <p>Enterate sobre todo lo que ocurre en la ANEIC-PY</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {% for post in posts %}
            <div class="swiper-slide">

              <div class="testimonial-wrap">

                <div class="testimonial-item">

                  <img src="{% static "img/" %}{{ post.foto }}" class="testimonial-img" alt="">
                  <h3><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>
                    <h4>{{ post.published_date }}</h4>
                  <p>

                    {{ post.text|truncatewords:"30" }}

                  </p>

                </div>

              </div>

            </div><!-- End testimonial item -->
              {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Preguntas Frecuentes</h2>
        </div>
        {% for pregunta in pregunta %}
        <ul class="faq-list accordion" data-aos="fade-up">
          <li>

            <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">{{ pregunta.titulo}}  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                  {{ pregunta.texto | linebreaksbr }}
              </p>
            </div>

          </li>
        </ul>
          {% endfor %}

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Comisi&oacute;n Directiva</h2>
          <p>Un equipo de estudiantes universitarios de todo el pa&iacute;s.</p>
        </div>

        <div class="row">
            {% for miembro in miembro %}
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">

            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static "img/" %}{{ miembro.foto }}" class="img-fluid" alt="">
                <div class="social">
                  <a href="{{ miembro.link_instagram }}"><i class="bi bi-instagram"></i></a>
                  <a href="{{ miembro.link_twitter }}"><i class="bi bi-twitter-x"></i></a>
                  <a href="{{ miembro.link_whatsapp }}"><i class="bi bi-whatsapp"></i></a>
                    <a href="mailto:{{ miembro.link_email }}"><i class="bi bi-envelope"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>{{ miembro.nombre}}</h4>
                <span>{{ miembro.cargo }}</span>
              </div>
            </div>

          </div>
            {% endfor %}
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contacto</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
                {% for contacto in contacto %}
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Direcci&oacute;n</h3>
                  <p>{{ contacto.direccion}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email</h3>
                  <p>{{ contacto.email}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Tel&eacute;fonos</h3>
                  <p>{{ contacto.telefono_1}} <br>{{ contacto.telefono_2}}</p>
                </div>
              </div>
                {% endfor %}
            </div>

          </div>

          <div class="col-lg-6">
              <div style="width:100%;height:500px;" data-fillout-id="gZHpUhau8Pus" data-fillout-embed-type="standard" data-fillout-inherit-parameters data-fillout-dynamic-resize></div><script src="https://server.fillout.com/embed/v1/"></script>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% include "footer.html" %}